<app-nav></app-nav>
<div class="wrapper">
  <section>
    <div class="name-and-image">
      <div class="text-box">
        <h1 [ngClass]="text_color">lilit kostanyan <span>|</span></h1>
        <h2 [ngClass]="text_color"><span>|</span> i'm a front-end web developer</h2>
      </div>
      <div class="img-container">
        <img class="img-1" src="./assets/images/1.png" alt="">
        <img class="img-2" src="./assets/images/1.png" alt="">
        <div class="border"></div>
      </div>
    </div>
    <div class="portfolio">
      <div class="portfolio-box">
        <h3>portfolio</h3>
        <div class="zola site">
          <img src="./assets/images/svg/Zola.webp" alt="">
          <div class="text-box">
            <p class="label">ZOLA</p>
            <p>Door and window manufacturing organization website...<br>
              <small>Click the button below to visit the website</small>
            </p>
            <a href="portfolio" routerLink="portfolio" class="btn">see more</a>
          </div>
        </div>

        <div class="improvity site">
          <img src="./assets/images/svg/Improvity.svg" alt="">
          <div class="text-box">
            <p class="label">IMPROVITY</p>
            <p>"IMPROVITY" the site of the IT company... <br>
              <small>Click the button below to visit the website</small>
            </p>
            <a href="portfolio" routerLink="portfolio"  class="btn">see more</a>
          </div>
        </div>

        <div class="lingvozone site">
          <img src="./assets/images/svg/logotwo.png" alt="">
          <div class="text-box">
            <p class="label">LINGVOZONE</p>
            <p>Online language learning platform... <br>
              <small>Click the button below to visit the website</small>
            </p>
            <a href="portfolio" routerLink="portfolio"  class="btn">see more</a>
          </div>
        </div>

      </div>
    </div>


    <div class="experience ">
      <div class="experience-box">
        <h3>experience</h3>
        <div class="experience">
          <i class="fa-solid fa-code" style="color: #02fc02;"></i>
          <div class="text-box">
            <p>I have been in the IT field for more than a year․․․<br>
              <small>Click the button below to learn more</small>
            </p>
            <a href="experience" routerLink="experience" class="btn">see more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="experience">
      <div class="experience-box">
        <h3>skills</h3>
        <div class="experience">
          <i class="fa-sharp fa-solid fa-cubes" style="color: #02fc02;"></i>
          <div class="text-box">
            <div class="icon-box">
              <div class="icon">
                <img class="pin" src="./assets/images/svg/pin.png" alt="">
                <img src="./assets/images/svg/html.png" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="./assets/images/svg/pin.png" alt="">
                <img src="./assets/images/svg/css.webp" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="./assets/images/svg/pin.png" alt="">
                <img src="./assets/images/svg/sass.png" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="./assets/images/svg/pin.png" alt="">
                <img src="./assets/images/svg/js.png" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="./assets/images/svg/pin.png" alt="">
                <img src="./assets/images/svg/ts.svg" alt="">
                <div class="back-plan"></div>
              </div>
              <div class="icon">
                <img class="pin" src="./assets/images/svg/pin.png" alt="">
                <img src="./assets/images/svg/ng.png" alt="">
                <div class="back-plan"></div>
              </div>
            </div>
            <p><small>Click the button below to learn more</small></p>
            <a href="skills" routerLink="skills" class="btn">see more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="experience">
      <div class="experience-box">
        <h3>about me</h3>
        <div class="experience">


          <img class="icon img" src="./assets/images/svg/user.PNG" alt="">
          <div class="text-box">
            <div class="about-me-box">
              <div class="about-me-img-and-text">
                <img src="./assets/images/svg/jew.png" alt="">
                <p>Jewelry</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="./assets/images/svg/singer.png" alt="">
                <p>Singing art</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="./assets/images/svg/accountant.png" alt="">
                <p>Accounting</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="./assets/images/svg/pc.png" alt="">
                <p>Computer repair (technical and software maintenance)</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="./assets/images/svg/manicure.png" alt="">
                <p>Professional manicure</p>
              </div>
              <div class="about-me-img-and-text">
                <img src="./assets/images/svg/sol.png" alt="">
                <p>Musical training</p>
              </div>
            </div>
            <p><small>Click the button below to learn more</small></p>
            <a href="about-me" routerLink="about-me" class="btn">see more</a>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>
