@media screen and (max-width: 1210px) {

  .name-and-image {
    flex-direction: column;
  }

  .text-box {
    width: 90vw;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    align-self: unset;
  }

}

@media screen and (max-width: 1160px) {

  .portfolio-box {
    align-items: center;
  }

  .zola[class*='site'],
  .improvity[class*='site'],
  .lingvozone[class*='site'],
  .experience .experience-box .experience {
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    box-shadow: 0 -1px 11px black;
    border-radius: .5em;

    .text-box {
      width: 100%;
      padding: 15px;

      p {
        line-height: 2;
      }
    }
  }

  .about-me-box .about-me-img-and-text{
    width: 90%;
  }
}

@media screen and (max-width: 785px) {


  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

}

@media screen and (max-width: 650px) {



  .zola[class*='site'],
  .improvity[class*='site'],
  .lingvozone[class*='site'],
  .experience[class*='site'] {
    .text-box {
      width: 100%;

      p {
        line-height: 2;
      }
    }
  }

  a.btn {
    width: max-content;
    padding: 10px 19px;
  }
}

@media screen and (max-width: 550px) {

  .experience {
    .text-box {

      .icon-box {
        .icon {
          width: 50px;
          height: 50px;

          img {
            width: 32px !important;
            top: -30%;
            left: -12px;
          }

          img[href*='html'] {
            max-width: 75%;
          }
        }
      }
    }
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

}


@media screen and (max-width: 500px) {
    
    .zola[class*='site'],
  .improvity[class*='site'],
  .lingvozone[class*='site'],
  .experience .experience-box {
    width: 90vw;
  }

  .about-me-box .about-me-img-and-text img {
    width: 70px;
  }

  .experience-box .experience .icon.img {
    // width: 40%;
  }
}

@media screen and (max-width: 400px) {
    
    .about-me-box .about-me-img-and-text {
        width: 85%;
        gap: 15px;
    }

}