<div class="cube-experiment">
    <div class="cube-box">
      <div class="front cube">
        <img [src]="cube_content![0]" alt="">
      </div>
      <div class="back cube">
        <img [src]="cube_content![1]" alt="">
      </div>
      <div class="left cube">
        <img [src]="cube_content![2]" alt="">
      </div>
      <div class="right cube">
        <img [src]="cube_content![3]" alt="">
      </div>
      <div class="top cube">
        <img [src]="cube_content![4]" alt="">
      </div>
      <div class="bottom cube">
        <img [src]="cube_content![5]" alt="">
      </div>
    </div>
  </div>
