<footer>
    <div class="line"></div>
    <div class="info-box">
        <div class="contact">
            <a href="https://t.me/Phoenix_19190" target="_blank"><i class="fab fa-telegram" style="color: #cccccc;"></i></a>
            <a href="https://www.linkedin.com/in/lilith-kostanyan-89174b272/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #cccccc;"></i></a>
            <a href="mailto: kostanyanlilith@gmail.com"><i class="fa-solid fa-envelope" style="color: #cccccc;"></i></a>
            <a href="tel: +37477402332"><i class="fa-solid fa-phone" style="color: #cccccc;"></i></a>
        </div>
        <div class="cv">
            <a href="./assets/doc/Lilit_Kostanyan_Resume.pdf" class="cv" target="_blank" download>CV</a>
            <i class="fa-solid fa-download" ></i>
        </div>
    </div>
    <div class="arrow-box" (click)="scrollTop()">
        <i class="fa-solid fa-circle-up" style="color: #02fc02;"></i>
    </div>
</footer>