<section>
  <div class="main-container">
    <h1 data-str="Experience">Experience</h1>
    <span routerLink="">Main page</span>
  </div>
  <div class="experience-container">
    <div class="animated-box"></div>
    <div class="experience-box">
      <p>After finishing six months course of HTML, CSS, SASS, Bootstrap, JavaScript, ReactJS, 
        I joined "Clean Code" company,
        where I passed 1 year probationary period.
        Then I joined "Improvity" company, where
        I worked as a Junior front-end developer for one year where I have acquired:
        professional and team work experience.
      </p>
    </div>
  </div>
  <app-route-arrows [page_numbers]="[1, 2]"></app-route-arrows>
</section>
